<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm
            :product="selectedItem"
            ref="productForm"
            @save="saveProduct"
          ></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :item="productItems" :fields="fields">
            <template #cell(price)="{ item }">
                ${{ item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,'$&,') }}
            </template>
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button
              ><b-button
                class="m1-1"
                variant="danger"
                @click="deleteProduct(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import ProductForm from './ProductForm.vue'
export default {
  components: {
    ProductForm
  },
  methods: {
    saveProducr (product) {
    //   console.log(product)
      console.log('Submit', product)
      if (product.id < 0) {
        product.id = this.productId
        this.product.id.push(product)
        this.productId++
      } else {
        const index = this.productItems.findIndex((item) => {
          return product.id === item.id
        })
        this.productItems.splice(index, 1, product)
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      if (confirm('คุณต้องการจะลบสินค้า $(product.id) หรือไม่?')) {
        const Index = this.productItems.findIndex(function (item) {
          return product.id === item.id
        })
        this.productItems.splice(Index, 1)
      }
    }
  },
  data () {
    return {
      fields: [
        { key: 'productID', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        { key: 'operator', label: 'กระบวนการ' }
      ],
      productItems: [
        { productId: 1, name: 'Ipad gen1 64G Wifi', price: 11000.0 },
        { productId: 2, name: 'Ipad gen1 64G Wifi', price: 12000.0 },
        { productId: 3, name: 'Ipad gen1 64G Wifi', price: 13000.0 },
        { productId: 4, name: 'Ipad gen1 64G Wifi', price: 14000.0 },
        { productId: 5, name: 'Ipad gen1 64G Wifi', price: 15000.0 },
        { productId: 6, name: 'Ipad gen1 64G Wifi', price: 16000.0 },
        { productId: 7, name: 'Ipad gen1 64G Wifi', price: 17000.0 },
        { productId: 8, name: 'Ipad gen1 64G Wifi', price: 18000.0 },
        { productId: 9, name: 'Ipad gen1 64G Wifi', price: 19000.0 },
        { productId: 10, name: 'Ipad gen1 64G Wifi', price: 20000.0 }
      ],
      productId: 11,
      selectedItem: null
    }
  }
}
</script>
<style></style>
